version: '3.9'

services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: dev
    depends_on:
      - db

  db:
    image: mysql:8
    restart: always
    environment:
      MYSQL_DATABASE: geterdone_db
      MYSQL_USER: appuser
      MYSQL_PASSWORD: 6fuNNyH@h@9
      MYSQL_ROOT_PASSWORD: rootpassword
    ports:
      - "3306:3306"
