spring:
  datasource:
    url: jdbc:mysql://db:3306/geterdone_db
    username: appuser
    password: 6fuNNyH@h@9
    driver-class-name: com.mysql.cj.jdbc.Driver
    initialization-mode: always

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

logging:
  level:
    com.geterdone: DEBUG
